*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{

}
/*----------Menu Superior----------*/
.menuSuperior{
    top: 0;
    position: sticky;
    padding: 20px;
    border-bottom: 1px solid rgba(102, 102, 102, 0.3);
    background-color: white;
}
.divLogin a{
    display: flex;
    justify-content: right;
    text-decoration: none;
    color: rgb(0, 155, 46);
    border: 1px solid rgb(0, 155, 46);
    padding: 10px;
    border-radius: 25px;
}
.divLogin a:hover{
    transition: 0.5s;
    color: white;
    background-color: rgb(0, 119, 255);
    border: 1px solid rgb(0, 119, 255);
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo img{
    width: 75px;
}
.logo h2{
    padding-left: 10px;
    font-size: 2rem;
}
.enlacesCabezera menu{
    display: grid;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 2fr 5fr 2fr;
    gap: 50px;
    padding-left: 0px;
}
.logoBusquedaSuperior a{
    text-decoration: none;
    color: black;
}
.liBusquedaSuperior{
    width: 100%;
}
.loginBusquedaSuperior{
    display: flex;
    justify-content: right;
}
.busquedaSuperiorLista{
    width: 100%;
}
.busquedaSuperior{
    display: flex;
    background-color: rgba(128, 128, 128, 0.2);
    width: 100%;
    gap: 10px;
    border-radius: 25px;
    padding: 10px;
}
.busquedaSuperior input{
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    border: 0;
}
/*----------Menu Lateral----------*/
.seccionMenulateral{
    position: fixed;
    padding-left: 20px;
    width: 20%;
    padding-bottom: 0.5%;
    border-right: 1px solid rgba(102, 102, 102, 0.3);
    padding-top: 50px;
    background-color: white;
}
.MenuLateral menu{
    display: grid;
    list-style: none;
    align-items: center;
    grid-template-rows: repeat(9, 1fr);
    gap: 10px;
    padding-left: 0px;
}
.MenuLateral li>a{
    text-decoration: none;
    color: black;
}
.enlacesIndividualesMenuLateral{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
}
.enlacesIndividualesMenuLateral:hover{
    background-color: rgba(128, 128, 128, 0.15);
    transition: 0.2s;
    transform: scale(1.05);
}
.enlacesIndividualesMenuLateral i{
    padding-right: 10px;
}
.enlacesIndividualesMenuLateral h4{
    font-size: 1.2rem;
    font-weight: 300;
}
/*----------Publicaciones----------*/
#publicaciones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 25%;
    padding-right: 25%;
    background-color: white;
}
.publicacionIndividual{
    border-bottom: solid 1px rgba(128, 128, 128, 0.5);
    margin-top: 5%;
    width: 60%;
    background-color: white;
}
.superiorPublicacion{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.superiorPublicacion1{
    display: flex;
    align-items: center;
    width: 75%;
}
.superiorPublicacion1 img{
    border-radius: 50%;
    width: 50px;
}
.superiorPublicacion1 a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
.superiorPublicacion3{
    display: flex;
    justify-content: right;
    width: 25%;
}
.imagenPublicacion img{
    border: solid 1px rgba(128, 128, 128, 0.5);
    border-radius: 2%;
    width: 100%;
}
.contenedorIconosPublicacion{
    display: flex;
}
.iconosIzquierda{
    width: 50%;
}
.iconosDerecha{
    display: flex;
    justify-content: right;
    width: 50%;
}
.contenedorIconosPublicacion i{
    font-size: 1.5rem;
    padding: 10px 10px 10px 0px;
}
.contenedorIconosPublicacion i:hover{
    color: gray;
    transition: 0.2;
}
.contenedorIconosPublicacion a{
    color: black;
    text-decoration: none;
}
.corazonSeleccionado{
    color: red;
}
.corazonSeleccionado:hover{
    color: red!important; 
}
.guardarSeleccionado{
    color: black!important;
}
.meGustasPublicacion{
    margin-top: 10px;
    margin-bottom: 10px;
}
.comentariosPublicacion{
    margin-top: 10px;
    margin-bottom: 30px;
}
/**/
.loginSeccionGeneral{
    background-color: #e3fff5;
}
.contenedorLoginGeneral{
    display: flex;
    align-items: center;
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
}
.contenedorLoginLoginGeneral{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
#contenedorImagenLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
#contenedorImagenLogin img{
    width: 800px;
}
.contenedorLoginLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px rgba(128, 128, 128, 0.5);
    background-color: #fff;
    margin: 20px;
    min-width: 40%;
    padding: 5%;
}
.contenedorInputsLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedorInputsLogin form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: solid 1px rgba(128, 128, 128, 0.5);
    padding-bottom: 20px;
}
.contenedorInputsLogin a{
    margin-top: 20px;
    text-decoration: none;
    color: rgb(0, 4, 129);
    font-size: 0.8rem;
}
.contenedorInputsLogin a:hover{
    text-decoration: underline;
    transition: 0.2s;
}
.contenedorLoginLogin h2{
    margin-bottom: 40px;
}
.contenedorLoginLogin img{
    width: 100px;
}
.contenedorInputsLogin input{
    border: solid 1px rgba(128, 128, 128, 0.5);
    background-color: rgb(245, 245, 245);
    margin: 5px;
    padding: 10px;
    width: 85%;
}
.contenedorInputsLogin button{
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 150, 255);
    color: white;
    padding: 10px;
    margin: 5px;
}
.contenedorLoginRegistrarte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px rgba(128, 128, 128, 0.5);
    background-color: #fff;
    margin: 20px;
    min-width: 40%;
    padding: 5%;
}
.contenedorLoginRegistrarte a{
    text-decoration: none;
    color: rgb(0, 4, 129);
}
.contenedorLoginRegistrarte a:hover{
    border-bottom: dotted 1px rgb(0, 4, 129);
    transition: 0.2s;
}
/*Perfil.html*/
#logoSuperiorPerfil{
    margin-bottom: 70px;
}
#menuLateralPerfil{
    padding: 20px;
}
/*Registro.html*/
#seccionRegistro{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3fff5;
    height: 100vh;
}
.contenedorLoginLogin>p{
    text-align: center;
    width: 80%;
    color: gray;
}
.contenedorInputsRegistro{
    width: 75%;
}
.contenedorInputsRegistro form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
#formularioRegistro input{
    border: solid 1px rgba(128, 128, 128, 0.5);
    background-color: rgb(245, 245, 245);
    margin: 5px;
    padding: 10px;
}
#formularioRegistro button{
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 150, 255);
    color: white;
    padding: 10px;
    margin: 5px;
}